/********************************* HEADER *********************************/

/******** Nav bar **********/
header, nav ul{
    background-color: #FFF8E5;
}

nav ul {
    justify-content: right;   
}


li a {
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    color: #FF8882;
}

.nav-item {
    display: inline-block;
    padding-left: 2rem
}

.nav-link {
    padding-left: 3rem;
}

#nav-title {
    position: relative;
    right: 48.75rem;
}

/********************************* GENERAL *********************************/
html body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Merriweather';
    font-size: 14.5px;
}

html body, .bottom-container li a {
    color: #40514E;
}

h2, h3, h4 {
    color: #F6A9A9;
    font-family: 'Montserrat';
}

nav ul, .bottom-container ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    list-style-type: none;
    font-family: 'Montserrat-light';
} 

/********************************* FOOTER *********************************/

.bottom-container, .bottom-container li a {
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:#FF8882;
    font-size: 14px;
}

.bottom-container ul {
    justify-content: center;
    padding-top: 1rem;
}

.bottom-container li a:hover {
    color: #FFF8E5;
}

.bottom-container p {
    padding-bottom: 0.5rem;
}

.bottom-container li a {
    padding-left: 30px;
    position: relative;
    right: 20px;
}

.bottom-container {
    position: relative;
    top: 14px
}
