/********************************* TOP-PAGE *********************************/
.top-container { 
    padding: 13rem;
    display: flex;
    justify-content: center;
}

h1 {
    color: #F6A9A9;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 3.125rem auto 0rem auto;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0rem;
    padding-top: 2.5rem;
    padding-bottom: 0.625rem;
}



#apresentation {
    font-size: 2rem;
    text-align: left;
    position: absolute;
    left: 400px;
}

#subtitle {
    color: #F6A9A9;
    padding: 0rem;
    position: absolute;
    left: 780px;
    top: 410px
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FF9A8C;
    border-width: 0.3125rem;
    width: 5%;
}

header {
    background-color: #FFF8E5;
}
/********************************* MIDDLE-PAGE *********************************/
#profile-row {
    margin: 5% 0%;
    text-align: center;
    width: 100%
}

/******************** Degrees ********************/
#degree-title, #skills-title, #soft-title {
    text-align: center;
}

#degrees-row {
    background-color: #FFF8E5;
}

#degrees-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#academia {
    padding: 1%;
}

#vertical-line {
    height: 290px;
    border-right: 3px dotted #FF9A8C;
    position: relative;
    top: 37px;
    border-width: 0.3125rem;
    left: 68px;
}

#courses {
    padding-top: 1%;
    position: relative;
    left: 150px;

}

/********************************* Skills *********************************/
#hard-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    width: 90%
}

#programming-title {
    position: relative;
    bottom: 7px;
    left: 120px;
}

#programming-description {
    padding-top: 2%;
    position: relative;
    left: 170px;
    width: 35%
}

#tech-icons {
    padding-top: 5%;
    position: relative;
    left: 50px;
    width: 30%
}

#tech-icons img {
    height: 1.5rem
}

#soft-skills {
    margin: 4rem 0rem;
}

#soft-skills-container {
    display: flex;
    width: 70%;
    margin-left: 200px
}

#description-two {
position: relative;
left: 35px
}

#description-three {
    position: relative;
    left: 60px
}

div hr {
    margin-top: 60px;
    text-align: center
}
