img{
    width: 80%; 
}

h2 {
    margin-top: 90px;
    text-align: center;
    font-size: 2.5rem
}

.image-container {
    padding: 60px 30px 20px;
    margin-left: 70px;
    margin-top: 0;
}

.image-container a {
    text-decoration: none;
}

.title-white {
    color: white;
}

.image-container p {
    text-align: center;
    position: relative;
    right: 12.5rem;
    bottom: 5rem;
}

#container-child-1, #container-child-2{
    display: flex;
    justify-content: center;
}

#container-child-2 {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

a p {
    display:none;
    color: #40514E;
}


.img-portfolio:hover{
    opacity: 0.8;
}

.img-portfolio:hover p {
    display: inline;
    font-size: 0.9rem;
    font-weight: bold;
}


.techs li{
    color: #40514E;
    font-family: 'Merriweather';
    font-size: 14.5px
}
/********************************* GAMES *********************************/

.site-one-page-container {
    display: flex;
    margin-top: 139.9px
}

.site-one-page-img {
    width: 60%;
    position: relative;
    left: 100px;
    bottom: 50px
}

.site-one-page-description {
    width: 60%;
    position: relative;
    right: 100px;
    bottom: 60px;
}


/********************************* SITES *********************************/

.img-site{
    width: 30%
}

.site-container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
}

.image-1 {
    padding-bottom: 20px;
}


.site-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    left: 37.5rem;
    width: 50%;
    margin-top: 0;
}